html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

html, body {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h2{
  margin: 0;
}

a {
    text-decoration: none;
    color: #3072C4;
}

/*Header*/

.header {

    width: 100%;
    height: 50px;

    color: #666666;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.wrap-inside {
    display: flex;
    margin: 0 auto;

    justify-content: space-between;
    
    align-items: center;

    max-width: 1280px;
}

.header__wrap__logo {
    padding-top: 11px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.header__wrap__menu {
    display: flex;

    justify-content: space-between;

    padding: 0 5px 5px 5px;

    min-width: 410px;
    height: 27px;
}

.header__wrap__menu__delimiter {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/*Back*/

.back {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0;
}

/*Content*/

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: 0 auto 25px;
  max-width: 1280px;
  border-top: 2px solid #1E79BE;
}

.content-head{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  padding: 45px 45px 0;
  margin-bottom: 35px;
}

.content-h2{
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 46px;
}

.content-head h3{
  margin: 0 34px 0 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 18px;
}

.content-head .active{
  border-bottom: 4px #1E79BE solid;
}

.content nav{
  display: flex;
}

.content-info {
  padding: 0 45px 50px;
  flex-grow: 1;
}

.content-info h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 25px;
}

.info-clients{
  display: flex;
  flex-wrap: wrap;
}

.client-block{
  flex: 1 0 50%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.client-block .name{
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 5px;
}

.client-block .info {
  font-size: 14px;
  line-height: 18px;
  color: #A1A1A1;
  margin-bottom: 15px;
}

.client-block .code-field{
  background: #FFFFFF;
  border: 1px solid #CECECE;
  padding: 6px 18px 8px 10px;
  width: 110px;
  margin-right: 10px;
}

.client-block input[placeholder] {
  font-family: 'Segoe UI',
  'Helvetica Neue',
  Arial,
  Tahoma,
  sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #A1A1A1;
}

.client-block .send-link{
  line-height: 25px;
  color: rgba(48, 114, 196, 1);
}

.content-footer{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0 50px;
  margin: 0 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-footer .history{
  font-size: 16px;
  line-height: 25px;
  color: rgba(48, 114, 196, 1);
}

.send-btn {
  font-family: 'Segoe UI',
    'Helvetica Neue',
    Arial,
    Tahoma,
    sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #3072C4;
  border: 1px solid#3072C4;
  border-radius: 2px;
  padding: 6px 15px 8px;
  cursor: pointer;
  margin-right: 8px;
}

.save-btn{
  font-family: 'Segoe UI',
  'Helvetica Neue',
  Arial,
  Tahoma,
  sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 6px 15px 8px;
  cursor: pointer;
}

/*Footer*/

.footer {
    margin-top: 24px;

    letter-spacing: 1.63913e-08px;

    color: #A1A1A1;
}

.footer p {
    margin: 0;
    padding-bottom: 9px;
}

.footer p:hover {
    cursor: context-menu;
}

.footer b {
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
}

.footer a {
    color: #A1A1A1;
}

.footer__logo {
    display: flex;
}

.footer__logo__svg {
    margin-right: 7.98px;
}

.footer__information {
    width: 500px;
}

.footer__information__wrap {
    display: flex;

    justify-content: space-between;
}


.footer__information__about__links {
    display: inline-flex;

    justify-content: space-between;
}

.footer__information__support {
    text-align: right;
}

